upstream {{ name }} {
    {%- for node_ip in node_ips %}
    server {{ node_ip }}:{{ node_port }} max_fails=3 fail_timeout=30s;
    {%- endfor %}
}

server {
    listen 80;
    server_name {{ prefix }}{{ name }}{{ postfix }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ prefix }}{{ name }}{{ postfix }};
    ssl_certificate           /etc/nginx/ssl/star_trendyol_com.pem;
    ssl_certificate_key       /etc/nginx/ssl/star_trendyol_com.key;

    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;

    location / {
            proxy_pass http://{{ name }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
    }
}